.wrapper{
    width: 100%;
    height: auto;
}

/* Header Style */
header{
    width: 100%;
    height: auto;
    padding: 1.25rem 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navi{
    display: flex;
    column-gap: var(--el-s-interval);
}

header .navi a{
    font-weight: 600;
    font-size: var(--f-n-size);
    letter-spacing: 1px; /* 글자와 글자 사이의 간격 */
    color: var(--f-m-color);
    transition: all .4s;
}

header .navi a:hover,
header .navi li.active a{
    color: var(--f-g-color);
}

/* Hero Section Style */
.hero{
    padding: 2.5rem 0;
}

.hero .container,
.explore .container{
    display: flex;
    column-gap: .9375rem;
}

.hero .container img{
    width: 100%;
    height: 100%;
}

.left-side,
.right-side{
    width: 50%;
    position: relative;
}

.right-side{
    display: flex;
    flex-wrap: wrap;
    gap: .9375rem;
}

.right-side > div{
    width: calc(50% - .4688rem);
    position: relative;
}

.hero .left-side .inside-txt{
    position: absolute;
    color: #fff; /* a tag, input tag는 글씨는 색상 상속 안됨 */
    width: 85%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero .left-side .inside-txt h4{
    font-size: 3.25rem;
    font-weight: 700;
}

.hero .left-side .inside-txt span{
    font-style: italic;
    font-weight: 400;
    margin: 1.25rem 0 1.875rem;
}

.inside-grid-txt{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.9375rem;
    color: #fff;
}

.right-side .inside-grid-txt h4{
    font-size: 1.5rem;
    font-weight: 700;
}

.right-side .inside-grid-txt span{
    font-style: italic;
}

.hero .right-side .hover-box{
    position: absolute;
    width: 90%;
    height: 90%;
    background: rgba(42,42,42, 0.9); /* a(알파값)이 투명도이며, 자식 요소에게 상속안됨 */
    color: #fff;
    z-index: 999; /*static이 아닌 포지션 요소가 겹쳤을 때 높은 숫자가 위로 올라감 */
    _opacity: 0.5; /* 투명도 조절 : 0 ~ 1 사이의 값 - 자식에게 상속됨*/
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    opacity: 0; /* 사라지는 효과로 사용할 경우 요소는 그대로 남고 보이지만 않게 된다. 이럴 경우 visibility 속성의 값을 hidden, visiable로 변경하며 이용한다 */
    visibility: hidden; 
    transition: all 0.4s;
}

.hero .container .right-side > div:hover .hover-box{
    opacity: 1;
    visibility: visible;
}

.hero .right-side .hover-box h4{
    font-size: 1.25rem;
}

.hero .right-side .hover-box span{
    text-align: center;
    font-size: 0,875rem;
    padding: 0.75rem 0;
    font-weight: 300s;
    
}

.explore .right-side > div{
    background: #f8f8f8;
}

.explore .right-side > div > img{
    width: 100%;
}

.explore .right-side .inside-grid-txt{
    color:var(--f-m-color);
    row-gap:.4375rem
   }
   
   
.explore .right-side .inside-grid-txt span{
    font-size:0.875rem;
    color:var(--f-g-color);
   }
   
/* Men's Slider Section Style */
.men-slider .slider-wrapper{
    position:relative;
   }
   
   
   .men-slider .slider-wrapper img{
    width:100%;
   }
   
   
   .men-slider .slider-wrapper .slider-navi{
    width:115%;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
   }
   
   
   .slider-navi .swiper-button-prev,
   .slider-navi .swiper-button-next{
    border:1px solid var(--f-m-color);
    padding:1.25rem;
   }
   
   
   .slider-navi .swiper-button-prev:after,
   .slider-navi .swiper-button-next:after{
    font-size:20px;
    color:var(--f-m-color);
    font-weight:bold;
   }
   
   
   .men-slider .slider-txt{
    width:100%;
    height:auto;
   }
   
   
   .men-slider .slider-txt .item-tit{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem 0;
   }
   
   
   .men-slider .slider-txt .item-tit h4{
    font-weight:700;
    font-size:1.375rem;
    color:var(--f-m-color);
   }
   
   
   .men-slider .slider-txt .item-tit .item-star{
    display:flex;
   }
   
   
   .men-slider .item-price{
    width:100%;
    height:auto;
   }
   
   
   .men-slider .item-price h5{
    font-weight:400;
    font-size:1.375rem;
    color:var(--f-g-color);
   }
   
   
   .men-slider .item-hover-box{
    position:relative;
    overflow:hidden;
   }
   
   
   .men-slider .item-hover-box:hover ul{
    opacity:1;
    transform: translateY(0);
   }
   
   
   .men-slider .item-hover-box ul{
    position:absolute;
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    bottom:50px;
    column-gap: .75rem;
    transition:all .4s;
    opacity:0;
    transform:translateY(100px);
   }
   
   
   .men-slider .item-hover-box ul a{
    padding:1rem 1.5rem;
    background:#fff;
   }
   
   
   .men-slider .item-hover-box ul a:hover{
    background: #efefef;
   }
   
   
   .swiper-pagination{
    display:none;
   }
   
/* Men's Slider Section Style */
.men-slider .slider-wrapper{
    position:relative;
   }

   
   .men-slider .slider-wrapper img{
    width:100%;
   }
   
   
   .men-slider .slider-wrapper .slider-navi{
    width:115%;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
   }
   
   
   .slider-navi .swiper-button-prev,
   .slider-navi .swiper-button-next{
    border:1px solid var(--f-m-color);
    padding:1.25rem;
   }
   
   
   .slider-navi .swiper-button-prev:after,
   .slider-navi .swiper-button-next:after{
    font-size:20px;
    color:var(--f-m-color);
    font-weight:bold;
   }
   
   
   .men-slider .slider-txt{
    width:100%;
    height:auto;
   }
   
   
   .men-slider .slider-txt .item-tit{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem 0;
   }
   
   
   .men-slider .slider-txt .item-tit h4{
    font-weight:700;
    font-size:1.375rem;
    color:var(--f-m-color);
   }
   
   
   .men-slider .slider-txt .item-tit .item-star{
    display:flex;
   }
   
   
   .men-slider .item-price{
    width:100%;
    height:auto;
   }
   
   
   .men-slider .item-price h5{
    font-weight:400;
    font-size:1.375rem;
    color:var(--f-g-color);
   }
   
   
   .men-slider .item-hover-box{
    position:relative;
    overflow:hidden;
   }
   
   
   .men-slider .item-hover-box:hover ul{
    opacity:1;
    transform: translateY(0);
   }
   
   
   .men-slider .item-hover-box ul{
    position:absolute;
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    bottom:50px;
    column-gap: .75rem;
    transition:all .4s;
    opacity:0;
    transform:translateY(100px);
   }
   
   
   .men-slider .item-hover-box ul a{
    padding:1rem 1.5rem;
    background:#fff;
   }
   
   
   .men-slider .item-hover-box ul a:hover{
    background: #efefef;
   }
   
   
   .swiper-pagination{
    display:none;
   }
   
      
